@model MediaCollection.Models.Film.FilmEditViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>FilmEditViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label" hidden></label>
                <input asp-for="Id" class="form-control" hidden />
                <span asp-validation-for="Id" class="text-danger" hidden></span>
            </div>
            <div class="form-group">
                <label asp-for="Titel" class="control-label"></label>
                <input asp-for="Titel" class="form-control" />
                <span asp-validation-for="Titel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Beschrijving" class="control-label"></label>
                <input asp-for="Beschrijving" class="form-control" />
                <span asp-validation-for="Beschrijving" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Speelduur" class="control-label"></label>
                <input asp-for="Speelduur" class="form-control" />
                <span asp-validation-for="Speelduur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Regisseurs" class="control-label"></label><p></p>
                <select size="6" multiple asp-items="Model.Regisseurs" asp-for="SelectedRegisseurs"></select>
                <input asp-for="RegisseurToevoegen" />
                <input type="submit" value="Regisseur toevoegen" class="btn btn-secondary" asp-route-regisseur="true" />
            </div>
            <div class="input-group">
                @for (int i = 0; i < Model.Genres.Count; i++)
                {
                    <input type="checkbox" asp-for="Genres[i].Checked" />
                    <label>@Model.Genres[i].Naam</label>
                    <input type="hidden" asp-for="Genres[i].Naam" />
                    <input type="hidden" asp-for="Genres[i].Id" />
                }
            </div>
            <label asp-for="Foto"></label>
            <img src="@Model.ImageSource" alt="@Model.Titel" />
            <input asp-for="Foto"/>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" asp-route-regisseur="false" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
